@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');


*{
    color: white;
}

.interest{
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.interest h1{
    font-size: 25px;
    font-weight: 600;
}

.interest p{
    font-size: 12px;
    line-height: 20px;
}